nav{
    display: flex;
    width: 1519.2px;
    height: 56px;
    /* border: 1px solid red; */
    background: #2874F0;
    /* margin: auto; */
}
#navbar{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    width: 75%;
    height: 56px;
    border: 1px solid black;
    margin: auto;
}
#navbar>div{
    width: 20%;
    border: 1px solid red;
}
#navbar>div:nth-child(1){
    width: 137px;
    border: 1px solid black;
}
#navbar>div:nth-child(2){
    width: 586.25px;
    height: 56px;
}
#navbar>div:nth-child(3){
    width: 121.65px;
}
#navbar>div:nth-child(4){
    width: 118.9px;
}
#navbar>div:nth-child(5){
    width: 49px;
}
#navbar>div:nth-child(6){
    width: 62px;
}
#logo{
    width: 80px;
    border: 1px solid red;
    height: 56px;
    margin: auto;
}
#logo>img{
    width: 75px;
    height: 20.1159px;
    cursor: pointer;
    margin-top: 5px;
}
#logo>a{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
#logo a:hover{
    text-decoration: underline;
}
#logo a span{
    color: #FFE500;
}
#logo>a>span>img{
    width: 10px;
}
#search{
    width: 511.65px;
    height: 36px;
    padding: 0 16px 0 16px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
}
.btn{
    width: 42.35px;
    height: 34px;
    border: 1px solid #FFFFFF;
    padding: 4px 12px 0 8px;
    cursor: pointer;
    margin-top: 8px;
    background-color: #fff;
}
