*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d7d7d7;
}
#category_div{
    background-color: #fff;
    margin-top:60px;
    width: 100%;
    height: 130px;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.cate_child{
    width: 100px;
    height:112px;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cate_child>a>div:nth-child(1){
    width: 64px;
    border: 0px solid red;
    margin: auto;
    /* display: flex; */
    
}
.cate_child>a>div:nth-child(2){
    width: 65px;
    height: 19px;
    border: 0px solid red;
    color: #030303;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    
}
.cate_child>a>div:nth-child(2):hover{
    color: #2874f0;
}
.cate_child>a>div>img{
    width: 64px;
    height: 64px;
}
.cate_child>a>{
    text-decoration: none;
}
#font_color{
    display: flex;
    justify-content: center;
    width: 136px;
}
#category_div>div>a{
    text-decoration: none;
}

.fashion_hover{
    position: relative;
    display: inline-block;
    border:0px solid red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 300px;
    margin-right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .fashion_hover:hover .dropdown-content {display: block;}
  .dropdown-content a:hover {background-color: #ddd;}

#top_bannar{
    width: 99%;
    height: 280px;
    border: 1px solid red;
    margin: auto;
    margin-top: 10px;
}
#top_bannar>img{
    width: 100%;
    height: 100%;
    position: relative;
}
#second_bannar{
    display: flex;
    width: 99%;
    height: 380px;
    border: 1px solid red;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
}
#second_bannar>div:nth-child(1){
    width: 20%;
    height: 380px;
    border: 1px solid black;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90);
    background-position:0px bottom;
    background-repeat: no-repeat;
    background-color: #fff;
}
#second_bannar>div:nth-child(2){
    width: 65%;
    height: 380px;
    border: 1px solid black;
    background-color: #fff;
}
#second_bannar>div:nth-child(3){
    width: 20%;
    height: 380px;
    border: 1px solid black;
    margin-left: 20px;
    background-color: #fff;
}
#second_bannar>div>h2{
font-size: 40px;
text-align: center;
margin-top: 80px;
font-weight: 100;
}
#second_bannar>div>button{
    padding: 13px 18px;
    margin-top: 20px;
    margin-left: 80px;
    cursor: pointer;
    background-color: #2874f0;
    border: none;
    color: white;
}

#second_bannar>div>a>img{
    width: 100%;
    height: 100%;
}


/* bottom part  */
#bottom_part_of_landing{
    width: 100%;
    height: 1499px;
    background-color: #fff;
    border: 1px solid red;
    margin-top: 20px;
}
#bottom_part_of_landing>div{
    width: 98%;
    height: 1462px;
    margin: auto;
    border: 1px solid blue;
    margin-top: 20px;
}
